<async-loader *ngIf="loading">Updating Application...</async-loader>
<form [formGroup]="app" [ngClass]="{'invalid': app.invalid }">
    <div class="modal-header">
        <h4 class="modal-title">View Application</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Pillar Name</label>
                    <span>&nbsp; Campus Solutions</span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Tools</label>
                    <span>&nbsp; 8.59</span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Tools Patch</label>
                    <span>&nbsp; 0.25</span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Application</label>
                    <span>&nbsp; 9.2</span>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>PUM</label>
                    <span>&nbsp; 43</span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Database</label>
                    <span>Oracle Standard</span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>RDS / EC2</label>
                    <span>    </span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Version</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>DataBase Size</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>OS</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>OS Version</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Windows Version</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Base AMI ID</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>AMI Source</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>HA Environment List</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>NHA Environment List</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>External Facing LB</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Elastic</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>LogStash</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>OS Version</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Number of Zones</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Prod Baseline Load for App/Web</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Baseline Domain Count</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Customizations S3 Bucket</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Prod Peak Load for App/Web</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Domain Count for Peak Load</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Config S3 Bucket</label>
                    <span>s/w S3 bucket</span>

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>S/W S3 Bucket</label>
                    <span>s/w S3 bucket</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="dismiss()">Close</button>
    </div>
</form>