@import "../../../styles/_variables";

.health-center-container {
  padding: 10px 0;
  .table-container {
    background-color: $white;
    border-radius: 4px;
    padding: 20px;
    .table {
      margin: 0;
      tr {
        td, th {
          border-bottom: 1px solid #dee2e6;
        }
      }
      tbody {
        tr {
          th {
            vertical-align: middle;
          }
          td {
            a {
              margin-left: 5px;
            }
            a + a {
              margin-left: 25px;
              border-left: 1px solid #dee2e6;
              padding-left: 25px;
            }
          }
        }
      }
    }
  }
}