<div class="health-center-container">
  <div class="row">
    <div class="col">
      <h2 class="page-heading">Health Center</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="table-container">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>Application</th>
              <th>Environment</th>
              <th>Heath</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th rowspan="4">Campus Solutions</th>
              <td>Demo</td>
              <td>
                <a>PS Health Center <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
                <a>PS Ping <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
                <a>Process Monitor <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>Dev</td>
              <td>
                  <a>PS Health Center <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                  <a>PS Ping <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                  <a>Process Monitor <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
              </td>
            </tr>
            <tr>
              <td>Test</td>
              <td>
                  <a>PS Health Center <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                  <a>PS Ping <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                  <a>Process Monitor <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
              </td>
            </tr>
            <tr>
              <td>Production</td>
              <td>
                  <a>PS Health Center <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                  <a>PS Ping <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                  <a>Process Monitor <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
              </td>
            </tr>
            <tr>
              <th rowspan="4">HCM</th>
              <td>Demo</td>
              <td>
                <a>PS Health Center <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
                <a>PS Ping <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
                <a>Process Monitor <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td>Dev</td>
              <td>
                  <a>PS Health Center <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                  <a>PS Ping <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                  <a>Process Monitor <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
              </td>
            </tr>
            <tr>
              <td>Test</td>
              <td>
                  <a>PS Health Center <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                  <a>PS Ping <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                  <a>Process Monitor <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
              </td>
            </tr>
            <tr>
              <td>Production</td>
              <td>
                  <a>PS Health Center <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                  <a>PS Ping <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                  <a>Process Monitor <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>