<div class="change-password-container">
  <div class="row">
    <div class="col">
      <h2 class="page-heading">Change Password</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="note"><strong>Note</strong>: Password last updated on 03 July, 2020 23:10 IST</span>
    </div>
  </div>
  <form [formGroup]="changePasswordForm" (ngSubmit)="updatePwd()" class="row">
    <div class="col col-md-4">
      <div class="password-container shadow">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput2">Current Password</label>
              <input type="password" class="form-control" formControlName="password"    
              placeholder="Current Pwd">
              <i class="eye-icon fa fa-eye" aria-hidden="true"></i>
            </div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput3">New Password</label>
              <input type="password" class="form-control" formControlName="newpassword" placeholder="New Pwd">
              <i class="eye-icon fa fa-eye" aria-hidden="true"></i>
            </div>
            <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
              <div *ngIf="f.newpassword.errors.required">New Password and Confirm Password Should Match</div>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput4">Confirm New Password</label>
              <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm New Pwd">
              <i class="eye-icon fa fa-eye-slash" aria-hidden="true"></i>
            </div>
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">New Password and Confirm Password Should Match</div>
          </div>
          </div>
        </div>
        <div *ngIf="errormessage" class="invalid-feedback">
          <div >{{errormessage}}</div>
      </div>
      </div>
      <div class="button-container shadow">
        <button class="btn btn-outline-secondary" [disabled]="loading" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="loading" >Confirm</button>
      </div>
    </div>
  </form>
</div>