
<async-loader *ngIf="loading"></async-loader>  
    <div class="row">
      <div class="col-md-6">
        <h2 style="color: darkblue; font-size: 20px;"> About ActiveGenie</h2>
    
        <div>
          <label class = "tab-title"> Application &nbsp;:&nbsp;  {{aboutpagevalues.Application}}</label>
        </div>
        <div>
          <label class = "tab-title"> Version</label> &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;:&nbsp; {{aboutpagevalues.Version}}
          
        </div>
        <div>
          <label class = "tab-title"> OrgId</label> &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; {{aboutpagevalues.OrgId}}
        </div>
        <div>
          <label class = "tab-title"> Region</label> &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; {{aboutpagevalues.Region}}
  
        </div>
        <div>
          <span> ActiveGenie © Copyright 2023 | ERPA</span>
        </div>
  
    
      </div>  
    </div>
  