<div class="role-management-container">
    <div class="row">
      <div class="col">
        <h2 class="page-heading">Configure User Roles & Permissions</h2>
      </div>
    </div>
    <div class="table-container">
      <div class="row mb-2">
        <div class="col-3">
            <div class="form-group">
                <label for="searchTable">Search</label>
                <input id="searchTable" class="form-control" type="text" placeholder="Search By Users"/>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1"></label>
                  </div>
                </th>
                <th>User Id</th>
                <th>User Name</th>
                <th>Associated Roles</th>
                <th>Environment</th>
                <th>Status</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr [class.editable]="isEditing">
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1"></label>
                  </div>
                </td>
                <td>
                  <div *ngIf="!isEditing">24189</div>
                  <div class="form-group" *ngIf="isEditing">
                    <input type="text" class="form-control" placeholder="Ticket ID">
                  </div>
                </td>
                <td>
                  <a href="#" class="link" *ngIf="!isEditing">Vikram</a>
                  <div class="form-group" *ngIf="isEditing">
                    <input type="text" class="form-control" placeholder="Redirect Link">
                  </div>
                </td>
                <td>
                  <div *ngIf="!isEditing">
                    <div class="tags">
                      <ul>
                        <li>Admin <i class="fa fa-times" aria-hidden="true"></i></li>
                      </ul>
                    </div>
                  </div>
                  <div *ngIf="isEditing">
                      <a class="link-edit"  ngbTooltip="Edit" container="body" (click)="showDDL = !showDDL">Edit <i class="ml-2 fa fa-pencil" aria-hidden="true"></i>
                      <div class="dropdownlist" [class.dl-show]="showDDL">
                        <ul>
                          <li>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">Admin</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">Finance</label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">User</label>
                              </div>
                            </li>
                        </ul>
                        <i></i>
                      </div>
                    </a>
                  </div>
                </td>
                <td>
                  <div *ngIf="!isEditing"> QA </div>
                  <div class="form-group" *ngIf="isEditing">
                    <input type="text" class="form-control" placeholder="Application">
                  </div>
                </td>
                <td>
                  <div class="status open" *ngIf="!isEditing">Enabled</div>
                  <div class="form-group" *ngIf="isEditing">
                    <select name="Status" id="ticketStatus" class="form-control">
                      <option default>Enabled</option>
                      <option value="open">Disabled</option>
                      <option value="closed">On-hold</option>
                    </select>
                  </div>
                </td>
                <td>Purna chandra reddy Chamala</td>
                <td>Dec 16, 2020</td>
                <td>
                    <i class="fa fa-pencil" *ngIf="!isEditing" aria-hidden="true" (click)="isEditing = true" ngbTooltip="Edit" container="body"></i>
                    <!-- <i class="fa fa-trash delete" *ngIf="!isEditing" (click)="showActionPopUP = true"
                    aria-hidden="true"></i> -->
                    <i class="fa fa-ban" *ngIf="isEditing"  aria-hidden="true" (click)="isEditing = false" ngbTooltip="Cancel" container="body"></i>
                    <i class="fa fa-floppy-o" *ngIf="isEditing" aria-hidden="true" (click)="isEditing = false" ngbTooltip="Save" container="body"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>