
$enable-shadows: true;
$enable-gradients: true;

$primary: #2c76BF;

$primary-color: $primary;
$secondary-color: #222;

$link-color:                $primary-color;
$link-hover-color:          $primary-color;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

